.page, html, body, #root {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deployment-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  text-align: center;
}

.dropdowns {
  display: flex;
  justify-content: center;
}

.submit {
  width: 150px;
  align-self: center;
  padding: 12px !important; //todo get rid of this !important
}

.hide {
  display: none;
}