.deployment-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  text-align: center;
}

//.deployment-form:before {
//  content: url('https://mui.com/static/images/cards/contemplative-reptile.jpg');
//  opacity: 0.4;
//}

.dropdowns {
  display: flex;
  justify-content: center;
}

.submit {
  width: 150px;
  align-self: center;
  padding: 12px !important; //todo get rid of this !important
}

.hide {
  display: none;
}