.page, html, body, #root {
  min-height: 100%;
  flex: 1;
  display: flex;
}

html {
  display: flex;
}

body {
  overflow-y: auto;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px 40px 20px;
}