.page, html, body, #root {
  min-height: 100%;
  flex: 1;
  display: flex;
}

html {
  display: flex;
}

body {
  overflow-y: auto;
}

//body:before {
//  content: url('https://mui.com/static/images/cards/contemplative-reptile.jpg');
//  opacity: 0.4;
//  top: 50%;
//  position: absolute;
//  left: 50%;
//  transform: translate(-50%, -50%);
//}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px 40px 20px;
}